.celdas{
    width: 90px;
    height: 90px;
    border: 1px solid;
    font-size: 35px;
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: rgba(11, 111, 150, 0.808);
    color: black;
    display: flex;
    font-size: 50px;
    border-radius: 0px;
    border-color: black;
}
#cuadro{
    display: grid;
    grid-template-columns: repeat(3,auto);
    margin: auto;
    width: 200px;
    justify-content: center;
    
}
.tit{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: darkblue;
}
.anuncio{
    display: flex;
    justify-content: center;
}
#btn{
    border-radius: 10px;
    background-color:rgba(172, 255, 47, 0.605) ;
    color: darkblue;
    display: flex;
}

body{
    background-color: rgb(211, 206, 206);
}